body {
    background-image: url('../css/oxfambg.png') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}

#corpsPage {
    padding-bottom: 2em;
}

table.listeClients tr td, 
table#listeUsers tr td,
table#listeReparations tr td,
table#listeGarantiesAnonymes tr td, 
table#selecteurStock tr td {
    cursor: pointer;
}

table.listeClients  tr.choosen td,
table#listeUsers tr.choosen td, 
table#listeReparations tr.choosen td,
table#listeGarantiesAnonymes tr.choosen td,
table#selecteurStock tr.choosen td {
    background-color: #f7ea3f;
  }

#refClients {
    background-color: #ca9b2c66;
    color: #333;
    padding: 1em 0;
}

label {
    font-weight: bold;
}


@media only screen and (max-width: 600px) {
    .navbar-brand img {
        width: 200px !important;
    }
}

.modal-title:before {
    content: url('../images/cshop.png');
}

input::placeholder {
    color: #aaaaaa !important;
    opacity: 1;
    /* Firefox */
}

label.error {
    color: red;
    font-weight: bold;
}

.void {
    text-align: center;
    padding-top: 8rem;
}

.idInt {
    font-size: 10pt;
}

.addonMdp {
    cursor: pointer;
}

.isDisabled {
    display: none;
}

.barre {
    text-decoration-line: line-through;
}


.formTravail {
    background-color: #ffc0cb;
}

#formUser {
    background-color: #bbbbff;
}

#formClient {
    background-color: #ccffcc;
}

#ficheTravail .nav-link.active, #ficheGarantie .nav-link.active {
    background-color: #d76a6a !important;
    color: #fff;
    font-weight: bold;
  }

  #ficheTravail .nav-link, #ficheGarantie .nav-link {
    background-color: #bfbfdb;
    color: #666;
    border: 1px solid #000;
  }

  .ellipseLabel {
    overflow: hidden;
    text-overflow: ellipsis; 
    display: block;
  }

  .null {
    font-size: 5rem;
    padding-top: 2em;
    color: rgba(50,150, 50, 0.8);
    text-align: center;
}

h5.boutonsTri {
    cursor: pointer;
}

.hiddenMdp {
    background-color: pink;
    color: pink;
    border-radius: 5px;
    height: 2.3em;
    border: 1px solid black;
}
.shownMdp {
    background: white;
    color: black;
        border-radius: 5px;
    height: 2.3em;
    border: 1px solid black;
    padding: 0.3em;
}

.strike {
    text-decoration-line: line-through;
}